/* CSS v1.0 https://github.com/stadium-software/resize-datagrid-columns */
.stadium-resizable-columns {
    border-collapse: collapse;

    > thead > tr > th,
    > tbody > tr > td {
        border: var(--resizable-column-cell-border-width, 1px) solid var(--resizable-column-cell-border-color, var(--X-DARK-GREY));
    }
    th a {
        white-space: nowrap;
    }

    .resizer {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(var(--resizable-column-icon-size, 18px) + 2px);;
        user-select: none;
        height: 100%;
        border-right: var(--resizable-column-hover-border-size, 2px) solid transparent;

        &:after {
            background-image: var(--resizable-column-icon, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23bbb' d='m19.164 12l-6.207-6.207l-1.414 1.414L16.336 12l-4.793 4.793l1.414 1.414zm-5.65 0L7.307 5.793L5.893 7.207L10.686 12l-4.793 4.793l1.414 1.414z'/%3E%3C/svg%3E"));
            background-repeat: no-repeat;
            background-position: right center;
            background-size: var(--resizable-column-icon-size, 18px);
            height: 100%;
            width: calc(var(--resizable-column-icon-size, 18px) + 2px);
            content: '';
            display: block;
            position: absolute;
            right: 0;
        }
    }

    .resizer:hover,
    .resizing {
        border-right: var(--resizable-column-hover-border-size, 2px) solid var(--resizable-column-hover-border-color, var(--X-DARK-GREY));
        cursor: ew-resize;
    }
}