USE [StadiumColResize]
GO
/****** Object:  Table [dbo].[Funds]    Script Date: 12/02/2024 13:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Funds]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Funds](
	[FundID] [int] IDENTITY(1,1) NOT NULL,
	[FundName] [varchar](50) NULL,
	[BankName] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
	[LongDesc] [varchar](max) NULL,
 CONSTRAINT [PK_Funds] PRIMARY KEY CLUSTERED 
(
	[FundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Funds] ON 

INSERT [dbo].[Funds] ([FundID], [FundName], [BankName], [Description], [LongDesc]) VALUES (141, N'Curry', N'Nunc Mauris Elit Corp.', NULL, N'risus. Morbi metus. Vivamus euismod urna. Nullam lobortis quam a felis ullamcorper viverra. Maecenas iaculis aliquet diam. Sed diam lorem, auctor quis, tristique ac, eleifend vitae, erat. Vivamus nisi.')
INSERT [dbo].[Funds] ([FundID], [FundName], [BankName], [Description], [LongDesc]) VALUES (142, N'Douglas', N'Ipsum Associates', NULL, N'In tincidunt congue turpis. In condimentum. Donec at arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Donec tincidunt. Donec vitae erat vel pede blandit congue. In scelerisque scelerisque dui. Suspendisse ac metus vitae velit egestas')
INSERT [dbo].[Funds] ([FundID], [FundName], [BankName], [Description], [LongDesc]) VALUES (143, N'Strickland', N'Donec Tempus Limited', NULL, N'mattis semper, dui lectus rutrum urna, nec luctus felis purus ac tellus. Suspendisse sed dolor. Fusce mi lorem, vehicula et, rutrum eu, ultrices sit amet, risus. Donec nibh enim, gravida sit amet, dapibus id, blandit at, nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vel nisl. Quisque fringilla euismod enim. Etiam gravida molestie arcu. Sed')
GO
SET IDENTITY_INSERT [dbo].[Funds] OFF
GO
